body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #0F264A;
}

#nav {
    position: fixed;
    background-color: #081426;
    left: 50%;
    transform: translateX(-50%);
}

#nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav li {
    float: left;
    padding: 10px 10px;
    font-size: 2vw;
}

#nav a {
    color: white;
    text-decoration: none;

}

#headshot {
    max-width: 100%;
    height: auto;
    border: 3px solid #254C5B;
    border-radius: 50%;
}

#main {
    padding-top: 100px;
    margin: auto;
    width: 50%;
    text-align: center;
}

